.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

.timer-number {
  font-size: 100px;
}

.timer-label {
  font-size: 20px;
}

.timer-timeup {
  font-size: 100px;
}

.timer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-box {
  margin: 12px;
  width: 120px;
  align-self: center;
}

.timer-box-days {
  margin: 12px;
  align-self: center;
  min-width: 120px;
}

.other-text {
  font-size: 20px;
  margin: 10px;
}

.header {
  font-size: 36px;
  margin-top: 20px;
}